*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.6)),
    url(./back.jpg);
    background-size:cover;
    background-position:center ;
   min-height:100vh;
   max-height: auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    h2{
        color: blue;
        font-size: 35px;
        font-family:serif;
        justify-self: center;
       // margin-left: 35%;
        margin-bottom: 10px;
    }
    .data{
        border:2px solid black;
        display: flex;
        justify-content: center;
        height: 80vh;
       width: 120vh;
      position: relative;
        margin-top: 20px;
        align-self: center;
        
    }
}