.cust{
  background-color: white;
  height: 60vh;
    margin-top: 25vh;  
    margin-left: -46vh;
    width: 33vh;
    border-right: 0.5px solid grey;
    border-radius: 20px;
    h1{
      font-size: 14px;
      margin-top:0px;
      color: green;
      border-bottom: 3px solid blue;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        color: black;
        margin-left: 4px;
        font-family: 'Lucida Sans';
        font-size: 14px;
      }
    }
  .div1{
    overflow:hidden;
    overflow-y:scroll;
    height: 55vh;
    .div{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content:center;
        .custlist{
          color: yellowgreen;
          font-size: 14px;
          display: flex;
          flex-direction: column;
          align-self:center;
          background-color: whitesmoke;
          margin-top: 10px;
          border-radius: 3px;
          width:170px;
          
          b{
            button{
              margin-left:40px;
              border:hidden;
              color:red;
              width: 20px;
              background-color: white;
              &:hover{
                background-color: red;
                color: white;
                
              }
            }
            img{
              position: relative;
              height:18px;
              width: 20px;
              margin-left:4px;
              margin-bottom: 0;
              
            }
            u{
              margin-top: -2px;
            }
          }
      
        }
    }
    
  }

}