.cop{
  background-color:white;
   height: 60vh;
   margin-top:25vh; 
   width:33vh; 
   margin-left:20px;
   border-radius: 20px;
  h1{
    font-size:14px;
    position: relative;
    display:flex ;
    justify-content: center;
    align-items: center;
    color: green;
    background-color: white;
    border-bottom: 3px solid blue;
    border-radius: 20px;
    span{
      color: black;
      margin-left: 4px;
      font-family: 'Lucida Sans';
      font-size: 15px;
    }
  }
  .div1{
    overflow: hidden;
    overflow-y: scroll;
    height: 53vh;
    display:flex;
    align-items:center;
    flex-direction:column;
    .div{
       .invest-list{
         background-color: whitesmoke;
         margin-top:10px;
         font-family: sans-serif;
         width:170px;
         border-radius:5px;
         color: yellowgreen;
         img{
           position: relative;
           height:17px;
           width: 25px;
           margin-left:10px;
           margin-bottom: 0;
    
           border-radius: 5px;
         }
         button{
           background-color: white;
           margin-left: 140px;
           border-width: 0;
           color:red;
           width: 20px;
           &:hover{
             background-color: red;
             color: white;
           }
         }
         p{
           margin-top: -2px;
         font-size: 15px;
           
         }
         
       }
    }
  }
 
 
}