.cop{
  background-color:white;
   height: 60vh;
   margin-top:20vh; 
   width:30vh; 
   border-left: 1px solid black;
  h1{
    font-size:15px;
    position: relative;
    display:flex ;
    justify-content: center;
    align-items: center;
    color: green;
    background-color: white;
    border-bottom: 3px solid blue;
    border-radius: 20px;
    span{
      color: black;
      margin-left: 4px;
      font-family: 'Lucida Sans';
      font-size: 17px;
    }
  }
  .div1{
    overflow: hidden;
    overflow-y: scroll;
    height: 53vh;
    margin-top: 5px;
    .div{
       .invest-list{
         border: 1px solid black;
         margin-right: 10px;
         font-family: sans-serif;
         height:auto;
         margin-bottom:5px;
         margin-left: 5px;
         
         img{
           position: relative;
           height:17px;
           width: 25px;
           margin-left:10px;
           margin-bottom: 0;
    
           border-radius: 5px;
         }
         button{
           background-color: white;
           margin-left: 140px;
           border-width: 0;
           color:red;
           width: 20px;
           &:hover{
             background-color: red;
             color: white;
           }
         }
         p{
           margin-top: -2px;
         font-size: 15px;
           
         }
         
       }
    }
  }
 
 
}