.main{
   background-color: white;
   height: 60vh;
margin-top: 20vh;
width: 60vh;

color:black;
.cal{
   height: 50%;
   border-bottom:1px solid black ;
   width: 100%;
  
   
i{
   margin-left:150px;
   position: relative;
   color: rgb(23, 226, 23);
}
b{
   margin-left: 170px;
   margin-bottom: 20px;
   
}
}
.img{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50%;
   width: 100%;
   img{
      height: 90%;
      width: 80%;
   }
}
}