.main{
background-color: white;
height: 60vh;
margin-top: 23vh;
width: 60vh;
color:black;
margin-left: 25px;
border-radius: 20px;
.cal{
   height: 50%;
   border-bottom:1px solid black ;
   width: 100%;
  .div{
display: flex;
margin-top: 20px;
position:static;
i{
   color: blue;
   margin-left: 50px;
   font-size: 15px;
}
b{
   color: black;
   margin-left: 80px;
}
  }
  .total{
     margin-top:30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     i{
        margin: 0;
        color: blue;
     }
     b{
        margin-top: -10px;
     }
  }

}
.img{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 50%;
   width: 100%;
   img{
      height: 80%;
      width: 80%;
      margin-bottom:20px;
   }
}
}